@import url(https://fonts.googleapis.com/css?family=Lato);

*{
  margin: 0;
  padding: 0;
}

#restable{
  background:#fff;
  color:#777;
  overflow:hidden;
  min-width:300px;
  max-width:94%;
  margin:1em auto;
  border-collapse:collapse;
}
#restable th, 
#restable td:before{
  color:#5a6772;
  text-align:left;
  display:none;
}
#restable tr:nth-child(2) th{
  cursor:pointer;
}
#restable tr:nth-child(2) th:hover{
  color:orange;
}
#restable tr:first-child th{
  display:table-cell;
  text-align:center;
  background:#505050;
  color:#fff;
  padding:1em .5em !important;
}
#restable tr:nth-child(2) th{
  background:#707070;
  color:#fff;
}
#restable tr,
#restable td:first-child{
  -webkit-background-size:40px;
  -moz-background-size:40px;
  -o-background-size:40px;
  background-size:40px;
  background-repeat:no-repeat;
  background-position:95% 65%;
}
#restable tr,
#restable td:first-child{
  -webkit-transition:background-position 1s cubic-bezier(0, 1.2, .8, 1.2);
  -moz-transition:background-position 1s cubic-bezier(0, 1.2, .8, 1.2);
  -o-transition:background-position 1s cubic-bezier(0, 1.2, .8, 1.2);
  transition:background-position 1s cubic-bezier(0, 1.2, .8, 1.2);
}
#restable td{
  display:block;
  padding:0 .5em;
}
#restable td:first-child{
  padding-top:1em;
  background-position:0 -100px;
  color:#333;
  font-weight:600;
}
#restable td:last-child{
  padding-bottom:1em;
  border-bottom:1px solid #ccc;
}
#restable tr:last-child td:last-child{
  border-bottom:none;
}
#restable td:before{
  content:attr(data-o);
  font-weight:bold;
  width:6.5em;
  display:inline-block;
}
#restable tr:nth-child(even){
  background-color:#ebf2f1 !important;
}
@media (min-width: 480px){
  #restable tr{
    background-position:150% 50%;
    background:transparent !important;
  }
  #restable td:before{
    display:none;
  }
  #restable th, #restable td{
    display:table-cell;
    padding:1.5em;
  }
  #restable td:first-child{
    padding-left:70px;
    background-position:5% 50%;
  }
  #restable td:last-child{
    border-bottom:none;
  }
}
/* logos */
.htmw, .htmw td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_html_howtomakeawebsite_stage01.png");
}
.html, .html td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/HTML_Forms.png");
}
.css, .css td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_DD_CSS_Stage6.png");
}
.programming, .programming td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_JavaScript_jQueryBasics_Stage5.png");
}
.js, .js td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_JavaScript_jQueryBasics_Stage3.png");
}
.jquery, .jquery td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_JavaScript_jQueryBasics_Stage1.png");
}
.accessibility, .accessibility td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_JavaScript_jQueryBasics_Stage4.png");
}
.optimization, .optimization td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_chromeDev_Stage1.png");
}
.console, .console td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_JavaScript_jQueryBasics_Stage2.png");
}
.git, .git td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_DD_Git_Stage3.png");
}
.sass, .sass td:first-child{
  background-image:url("https://wac.a8b5.edgecastcdn.net/80A8B5/achievement-images/badges_DD_SASS_Stage1.png");
}

 
form
{
  width:350px;
  margin:200px auto;
  background:white;
  padding: 20px 0;
  border-radius: 10px;
}

legend
{
  text-align:center;
  color: gray;
  
}


input
{
  width:87%;
  height:35px;
  border: none;
  background:#eaeaea;
  padding:0 15px;
  border-radius: 0 5px  5px 0 ;
}

span
{
  display:table-cell;
  color: white;
}

.input-group
{
  display:table;
  width:100%;
    margin:10px 0;
}
span{ 
  display:table-cell;
  padding:0 2px;
  background:#cccccc;
  border-radius:5px 0  0 5px;
  text-align:center;
}

input[type="submit"]
{
  background:rgb(0, 0, 0);
  width: 200px;
  border:none;
  color: white;
  cursor:pointer;
  border-radius:4px ;
  font-size:15px;

}

input[type="submit"]:hover
{
  background:blue
}

fieldset
{
  width:300px;
  margin:auto;
  border:none;
}


