.google{
    position:relative;
    top: 260px;
    left: 630px;
    cursor: pointer;;
}
.google{
    width: 18%;
    margin: 30px 0px;
    padding: 100px;
    cursor: pointer;
    position: relative;
}