.lista {
  float: right;
  width: 60%;
  border-collapse: separate;
  border-spacing: 2px;
  color: #fff;
}

table {
  width: 500px;
  margin: auto;
  border: 3px solid black;
  font-size: 100%;
}

.formulario {
  float: left;
  width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

label{
  width:72px;
	font-weight:bold;
	display:inline-block;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100vh;
  background-size: 100%;
}

input{
  width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 
input[type="submit"]:hover{
	cursor:pointer;
  background-color: #0000FF;
  color: white;
  border-radius: 15%;
}

h1 {
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: x-large;
}

button:hover {
  background-color: #0000FF;
  color: white;
  border-radius: 15%;
}

.page-nav {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 10, 190, 0.5);
}


.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

th, td {
  border: 2px solid black;
  text-align: center;
  background: #fff;
  color: #000;
}

