

.container{
  background-color: aquamarine;
  max-width: 900px;
  background-image: image('fondo');
  
}

.lista{
  
  flex: auto;
  float: none;
  width: auto;
  
}

.lista table{
  border: black solid 3px;
  
 
  margin-left: 5px;
  margin-top: 0%;
  background-color: aquamarine;
  border-bottom: 5px solid coral;
}

.formulario{
  float: left;
  background-color: aquamarine;
  border: 3px solid black;
  border-bottom: 5px solid coral;
  margin-top: 2%;
  margin-left: 5px;
  
  
}

.titulo{
  
  margin-left: 0%;
  background-color: rgb(rgba(9, 64, 136, 0.616), green, blue);
  border-bottom: solid 5px chartreuse;
  
}

.background_image{
  size: auto;
}